<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorkoutSplit</title>
</head>
<body>
<form method="post" action="/new-workoutSplit">
  <label for="monday">Monday</label>
  <input type="text" id="monday" name="monday">

  <label for="tuesday">Tuesday</label>
  <input type="text" id="tuesday" name="tuesday">

  <label for="wednesday">Wednesday</label>
  <input type="text" id="wednesday" name="wednesday">

  <label for="thursday">Thursday</label>
  <input type="text" id="thursday" name="thursday">

  <label for="friday">Friday</label>
  <input type="text" id="friday" name="friday">

  <label for="saturday">Saturdat</label>
  <input type="text" id="saturday" name="saturday">

  <label for="sunday">Sundday</label>
  <input type="text" id="sunday" name="sunday">
  <button type="submit">ADD</button>
</form>

</body>
</html>